@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap');

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    padding: 6% 6% 20% 6%;
    width: 100%;
}

section{
    width: 100%;
}

.respimg{
    display: none;
}

.fbutton{
    width: 150px;
    height: 48px;
    background-color: #E8EFF2;
    border-radius: 8px;
    border: none;
    font-family: 'Barlow';
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color:  #162542;
    text-transform: uppercase;
}

.hdlogo{
    width: 40px;
    height: 40px;
    margin-top: 5px;
}

h1{
    font-family: 'Barlow';
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    text-transform: uppercase;
    color: #162542;
}

.tptexts{
    display: flex;
    flex-direction: column;
    padding: 0% 0% 17% 6%;
    gap: 32px;
}

.tpp{
    font-family: 'Barlow';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
}

.buttonside{
    display: flex;
    flex-direction: row;
    gap: 32px;
    align-items: center;
}

.sbutton{
    width: 150px;
    height: 48px;
    background: #F16718;
    border-radius: 8px;
    border: none;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.btp{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #7B8BAD;
}

.tpimage{
    display: flex;
    justify-content: end;
}

.images{
    display: flex;
    justify-content: start;
    gap: 19px;
    padding: 8% 0 15% 0;
}

h2{
    font-family: 'Barlow';
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    color: #162542;
    text-align: center;
    padding: 0 10% 0 10%;
}

.btmp{
    font-family: 'Barlow';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #7B8BAD;
}

.bttexts{
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 0 6% 20% 6%;
    align-items: center;
    justify-content: center;
}

.bottom{
    padding: 0 6% 26% 6%;
    display: grid;
    gap: 64px;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 24px;

}

h3{
    font-family: 'Barlow';
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #162542;
    padding: 0 20% 0 20%;
}

.boxp{
    font-family: 'Barlow';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #7B8BAD;
}

.icon{
    margin-bottom: 24px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 14% 0;
}

.ftrtext{
    font-family: 'Barlow';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
}

.ftrtext span{
    font-weight: 700;
}

footer{
    width: 100%;
}

.orangepic2{
    display: none;
}

.usualpic2{
    display: none;
}

.respimg2{
    display: none;
}

.respimg3{
    display: none;
}

.fbutton:hover{
    background-color: #162542;
    cursor: pointer;
    color: white;;
}

.sbutton:hover{
    background-color:#FF9B62;
    cursor: pointer;
}

.firstre{
    display: none;
}
.orangepic3{
    display: none;
}
.usualpic3{
    display: none;
}